//
// Buttons
//

.organizing-button,
.organizing button {
  display: inline-block;
  padding: 6px 12px;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  line-height: normal;
  vertical-align: middle;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 4px;
  background-color: $danger;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $danger-hover;
  }

  &:active {
    background-color: $danger-active;
  }
}
